@model ForgotPasswordViewModel
@{
    Layout = "/Views/Shared/_SimpleLayout.cshtml";
    ViewData["Title"] = "Quên mật khẩu?";
}

<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(../../../assets/app/media/img//bg/bg-3.jpg);">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            <div class="m-login__container">
                <div class="m-login__logo">
                    <a href="#">
                        <img src="~/images/user.png" style="width: 50%;">
                    </a>
                </div>
                <div class="m-login__forget-password">
                    <div class="m-login__head">
                        <h3 class="m-login__title">
                            Quên mật khẩu?
                        </h3>
                        <div class="m-login__desc">
                            Nhập email của bạn để khôi phục phục mật khẩu:
                        </div>
                    </div>
                    <form asp-action="ForgotPassword" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group m-form__group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control m-input" autocomplete="off" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr">
                                Khôi phục
                            </button>
                            &nbsp;&nbsp;
                            <a href="/Home/Index" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">
                                Hủy
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
