@model ResetPasswordViewModel

<div class="modal-header">
    <h5 class="modal-title">
        Reset mật khẩu
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
        </span>
    </button>
</div>
<form asp-action="ResetPassword" asp-controller="Account" class="m-form m-form--label-align-right" data-ajax="true" data-ajax-method="POST" data-ajax-success="onSuccessRsPwd" id="formRsPwd">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="modal-body">
        <div class="form-group m-form__group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control m-input" readonly />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group m-form__group">
            <button type="button" id="defaultPwd" class="btn btn-link">Sử dụng mật khẩu mặc định</button>
        </div>
        <div class="form-group m-form__group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control m-input" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group m-form__group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control m-input" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            Reset
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Đóng
        </button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
